@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-100: #dbe9fd;
  --color-primary-200: #bedcfb;
  --color-primary-300: #a1caf9;
  --color-primary-400: #75b3f6;
  --color-primary-500: #4e92f4;
  --color-primary-600: #3278de;
  --color-primary-700: #2661bb;
  --color-primary-800: #1d4b92;
  --color-primary-900: #16396f;
  --color-dark-gray: #232323;
  --color-dark-gray-200: #454545;
  --color-normal-gray: #3d3d3d;
  --color-dark-blue-normal: #141b34;
  --color-bg-gray: #fafafa;
  --font-monts: "Montserrat", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background: #fafafa;
  color: #232323;
}

.dark {
  color-scheme: dark;
}

.dark body {
  background: #020617;
  color: #e5e7eb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #111827 !important;
  caret-color: #111827 !important;
  transition: background-color 9999s ease-out 0s;
}

input:-moz-autofill,
textarea:-moz-autofill {
  box-shadow: 0 0 0 1000px #ffffff inset !important;
  -moz-text-fill-color: #111827 !important;
  caret-color: #111827 !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;
  -webkit-text-fill-color: #e2e8f0 !important;
  caret-color: #e2e8f0 !important;
}

.dark input:-moz-autofill,
.dark textarea:-moz-autofill {
  box-shadow: 0 0 0 1000px #0f172a inset !important;
  -moz-text-fill-color: #e2e8f0 !important;
  caret-color: #e2e8f0 !important;
}

@keyframes on-autofill-start {
  from {
  }
  to {
  }
}

.floating-label-input:-webkit-autofill {
  animation-name: on-autofill-start;
  animation-fill-mode: both;
}
